*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(image.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.social-menu ul{
    position: absolute;
    top: 90%;
    right: 44%;
    padding: 0%;
    margin: 0%;
    transform: translate(0%);
    display: flex;
}
.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}
.social-menu ul li .fa {
font-size: 30px;
line-height: 60px;
transition: .6s;
color: #fff;
}
.social-menu ul li a{
    position: relative;
    font-display: block;
    width: 30px;
    height: 30px;
    border-radius: 0%;
}

.menu-bar
{
   background: rgba(39, 39, 39, 0.247);
   text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color:white;
    font-size: large;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active,.menu-bar ul li:hover
{
background-color: rgba(128, 128, 128, 0.411);
border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu
{
   display: none; 
}
.menu-bar ul li:hover .sub-menu
{
    display: block;
    position: absolute;
    background: rgba(58, 57, 57, 0.74);
    margin-top: 15px;
    margin-left: 15px;
}
.menu-bar ul li:hover .sub-menu ul
{
    display: block;
    margin: 10px;
}


.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #fff;
    font-size: 70px;
}
