div.container {
    text-align: center;
    padding: 10px 20px;
}
  body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(image.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
  }
  